body{
  background-color: black;
}
div {
    width: 800px;
    border: 1px solid white;
    padding: 5px;
    margin: 2px;
    background-color: black;
    color: white;
  }
.videoInsert {
    width:100%;
    height:auto;
}
.overlay {
  position: fixed; /* Sit on top of the page content */
  display: none; /* Hidden by default */
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.75); /* Black background with opacity */
  z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
  cursor: pointer; /* Add a pointer on hover */
}
.consent{
  width: 1200px;
}
html{
  scroll-behavior: smooth;
}
h1{
  color:red;
  font-size:150%;
}
h2{
  color:red;
  text-decoration:underline;
  font-size:110%;
}
.button{
  background-color: black;
  color:white;
  font-size:large;
  border:2px solid red;
}
.button:hover{
  background-color:red;
}
#text{
  position: absolute;
  top: 45%;
  left: 45%;
  font-size: large;
  color: white;
  transform: translate(-45%,-45%);
  -ms-transform: translate(-45%,-45%);
  text-align: center;
}
img{
  vertical-align:middle;
  max-width: 100%;
  max-height: auto
}
.split {
  height: 45%;
  width: 45%;
  position: absolute;
  z-index: 1;
  overflow-x: hidden;
  padding: 1px;
  border:2px;
  display:block;
  overflow:hidden
}
.top_left{
  top:0;
  left:0
}
.top_right{
  top:0;
  right:0
}
.bottom_left{
  bottom:0;
  left:0
}
.bottom_right{
  bottom:0;
  right:0;
}

