body{
  background-color: black;
}
div {
    width: 800px;
    border: 1px solid white;
    padding: 5px;
    margin: 2px;
    background-color: black;
    color: white;
  }
.videoInsert {
    width:100%;
    height:auto;
}
.consent{
  width: 1200px;
}
html{
  scroll-behavior: smooth;
}
h1{
  color:red;
  font-size:150%;
}
h2{
  color:red;
  text-decoration:underline;
  font-size:110%;
}
.button{
  background-color: black;
  color:white;
  font-size:large;
  border:2px solid red;
}
.button:hover{
  background-color:red;
}